fastapi
uvicorn[standard]
streamlit
python-dotenv
pydantic
pydantic-settings
requests
supabase
groq
spacy
sentence-transformers
scikit-learn
numpy
pandas
PyPDF2
python-docx
beautifulsoup4
weasyprint
jinja2
